


<table class="table table-striped">
    <thead>
        <tr>
            <th>BeverageID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>DateAdded</th>
            <th>Image</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let dataItem of BeveragesList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.type}}</td>
            <td>{{dataItem.description}}</td>
            <td>{{dataItem.dateadded}}</td>
            <td>{{dataItem.imagefilename}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">edit</button>
                <button type="button" class="btn btn-light mr-1">delete</button>
            </td>
        </tr>

    </tbody>
</table>